@import "../mixins/mixins";

@import "../utils/utils";

.cash-specifications {
  padding-top: 4.9rem;
  padding-bottom: 5.4rem;
  position: relative;

  &__container {
    max-width: 107.4rem;
    margin: 0 auto;
  }

  &__title {

    @include font-size($less-big, $small-bg);

    font-weight: 600;
    text-align: center;

    @include media-tablet-horizontal {
      font-size: 3.5rem;
    }

    @include media-tablet {
      line-height: 3rem;
    }
  }

  &__content {
    margin-top: 5.7rem;
    width: 100%;
  }
}

.specification {

  @include font-size($medium-sm, $small-bg);

  display: flex;
  justify-content: space-between;
  text-align: start;

  @include media-tablet-horizontal {
    font-size: 2rem;
  }

  @include media-mobile {
    font-size: 1.5rem;
  }

  & + & {
    margin-top: 3rem;
  }

  &__title {
    font-weight: 600;
    max-width: 40rem;
    flex: 0 1 40%;
  }

  &__text {
    flex: 0 1 50%;
  }
}
