@import "../utils/variables";
@import "../mixins/font-size";

.choice {
  padding-top: 4.8rem;
  padding-bottom: 35.4rem;
  &_header {
    margin-top: -.7rem;
  }
  &_title {
    font-weight: bold;
    @include font-size($big);
  }
  &_text {
    font-weight: 600;
    font-size: $medium;
    line-height: $medium;
    text-align: center;
    max-width: 93rem;
    margin: 0 auto;
  }
  &_menu {
    margin-top: 2.6rem;
    margin-bottom: 5.6rem;
  }
}
