.dream {
  &_title {
    margin-top: 3.9rem;
    margin-bottom: 2.4rem;
    margin-left: -0.4rem;
    text-align: start;
  }

  .subtitle {
    margin-top: -15rem;
  }

  .image > img {
    margin-left: 5.2rem;
  }
}
