.dream {
  margin-top: 5.4rem;
  padding-top: 4.7rem;
  padding-bottom: 4.3rem;

  &_title {
    margin-top: -0.9rem;
    margin-left: -0.4rem;
    text-align: start;
  }

  .section-content_dream {
    margin-top: 2.4rem;
  }

  .subtitle_dream {
    margin-top: -15rem;
  }

  .image > img {
    margin-left: 5.2rem;
  }
}
