@import "../utils/variables";

.footer-form {
  width: 37.8rem;
  max-width: 37.8rem;
  margin-top: -0.8rem;

  &_label {
    display: block;
    font-size: $small-bg;
    line-height: $medium-sm;
    color: $primary;

    & + & {
      margin-top: 1.6rem;
    }
  }

  &_input {
    display: block;
    width: 100%;
    height: 7rem;
    background: $light;
    border-radius: 0.7rem;
    border: 0;
    margin-top: 0.5rem;
    font-size: $medium-sm;
    line-height: $medium-sm;
    padding: 0 0.8rem;
    outline: none;
  }

  &_box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5rem;
  }

  &_label-checkbox {
    font-size: 1.8rem;
    line-height: $medium-sm;
    cursor: pointer;
  }

  &_checkbox {
    appearance: none;
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    display: block;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    margin-right: 1.2rem;
  }

  &_checkbox:checked {
    background: $success;

    &::after {
      content: url("../../img/icon.svg");
      position: absolute;
      display: block;
      width: 2rem;
      height: 2rem;
    }
  }

  &_checkbox:not(:checked) {
    background: $light;

    &::after {
      content: "";
    }
  }

  &_aplication-button {
    height: 8.3rem;
    background: $light;
    border-radius: 0.7rem;
    font-weight: 600;
    font-size: $medium-sm;
    line-height: 1.8rem;
    width: 100%;
    border: 0;
    cursor: pointer;
    display: block;
    margin-top: 4.9rem;
  }
}
