@import "../utils/variables";

.footer-content {
  width: 58.1rem;
  max-width: 58.1rem;

  &_title {
    width: 100%;
    font-size: $biggest;
    line-height: 110%;
  }

  &_logo {
    margin-top: 4.6rem;
  }
}
