@import "../utils/utils";

@import "../mixins/mixins";

.header__list-item {
  & + & {
    margin-left: 1.9rem;
  }
}

.header__link {
  color: $primary;

  &:hover:not(&--active) {
    color: lighten($primary, 50%);
    cursor: pointer;
  }

  &--active {
    cursor: default;

    &::after {
      content: "";
      position: relative;
      display: block;
      height: 0.2rem;
      background-color: $primary-light;
      top: 0.6rem;
    }
  }
}
