@import "../mixins/mixins";

@import "../utils/utils";

.pop-up-wrap {
  background: #e5e5e5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  display: none;

  &--active {
    display: block;
  }
}

.pop-up {
  padding-top: 4.3rem;
  padding-bottom: 14rem;
  background: $light;
  border: 0.05rem solid $light;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.16);
  border-radius: 1.2rem;
  min-width: 75.3rem;
  margin: 0 auto;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;

  @include media-tablet-horizontal {
    min-width: 63rem;
  }

  @include media-tablet {
    min-width: 39rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 8rem;
  }

  @include media-mobile-horizontal {
    min-width: 36rem;
  }

  @include media-mobile {
    min-width: 31.5rem;
  }

  &__container {
    max-width: 55.1rem;
    margin: 0 auto;
  }

  &__title {

    @include font-size($less-big, $small-bg);

    font-weight: bold;
    text-align: center;
  }

  &__form {
    margin-top: 8rem;

    @include media-mobile-horizontal {
      margin-top: 4rem;
    }
  }

  &__label {

    @include font-size($small-bg, $medium-sm);

    display: block;
    color: $secondary-dark;

    & + & {
      margin-top: 1.5rem;
    }
  }

  &__input {
    background: $light;
    border-radius: 0.7rem;
    box-shadow:
      0 4px 8px rgba(0, 0, 0, 0.12),
      0 16px 16px rgba(0, 0, 0, 0.16);
    margin-top: 1rem;
    width: 100%;

    &:valid {
      border: 0.2rem solid #35cc79;
    }
  }

  &__agree-label {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 6.7rem;
    text-align: center;

    @include media-mobile-horizontal {
      margin-top: 4rem;
    }
  }

  .pop-up__agree-input {
    display: none;
  }

  .pop-up__agree-fake {
    display: inline-block;
    background: rgba(63, 61, 86, 0.4);
    position: relative;
    height: 2rem;
    width: 2rem;
    border-radius: 0.4rem;
    overflow: hidden;
    margin-right: 1.2rem;
    margin-top: 0.2rem;
    cursor: pointer;

    @include media-mobile-horizontal {
      min-height: 2rem;
      min-width: 2rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url("../../img/icon-g.svg") center center no-repeat, $light;
      width: 1.9rem;
      height: 1.9rem;
      border-radius: 0.4rem;
      opacity: 0;
    }
  }

  .pop-up__agree-input:checked + .pop-up__agree-fake::before {
    opacity: 1;
  }

  &__agree-text {
    display: block;

    @include font-size($small-bg, $medium-sm);

    max-width: 35.1rem;
    color: #3f3d56;
    text-align: start;
  }

  &__btn {
    cursor: pointer;
    width: 38.4rem;
    max-width: 38.4rem;
    height: 6.3rem;

    @include font-size($medium-sm, 6.3rem);

    line-height: 3rem;
    font-weight: 600;
    color: $light;
    border-radius: 0.7rem;
    background: $success;
    border: 0;
    display: block;
    margin: 0 auto;
    margin-top: 6.7rem;

    @include media-mobile-horizontal {
      width: 100%;
    }

    @include media-mobile-horizontal {
      margin-top: 4rem;
    }
  }

  &__cross {
    position: absolute;
    top: -3.8rem;
    right: -3.8rem;
    width: 3.5rem;
    height: 3.5rem;

    @include media-mobile-horizontal {
      top: -4rem;
      right: 1rem;
    }

    &-inner {
      width: 3.5rem;
      height: 3.5rem;
    }

    .line-h,
    .line-v {
      background: #3f3d56;
    }
  }
}
