@import "../utils/variables";

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 75.3rem;
  max-width: 75.3rem;
  transform: translate(-50%, -50%);

  &_inner {
    max-width: 75.3rem;
    max-height: 88.5rem;
    background: $light;
    border: 0.05rem solid $light;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.16);
    border-radius: 1.2rem;
    padding: 4.3rem 0 14rem 0;
  }

  &_title {
    font-weight: bold;
    font-size: $less-big;
    line-height: $small-bg;
    color: #3f3d56;
    text-align: center;
    margin-bottom: 8rem;
  }

  &_button-close {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: -5rem;
    right: -5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
      height: 5rem;
      width: 0.3rem;
      background: #3f3d56;
    }
  }

  &--none {
    display: none;
  }
}

.popup-form {
  width: 55.2rem;
  max-width: 55.2rem;
  margin: 0 auto;

  &_label {
    & + & {
      margin-top: 1.5rem;
    }
  }

  &_input {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.08)) drop-shadow(0 2px 24px rgba(0, 0, 0, 0.08));
    margin-top: 1rem;

    &:required:valid {
      border: 1px solid #35cc79;
    }
  }

  &_box {
    max-width: 39.5rem;
    margin: 6.7rem auto;
  }

  &_aplication-button {
    max-width: 38.4rem;
    background: $success;
    color: $light;
    margin: 0 auto;
    height: 6.3rem;
  }
}
