@import "../mixins/font";

@import "../mixins/font-size";

@import "../utils/variables";

.scenario-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 108rem;
  max-width: 108rem;

  &--reverse {
    flex-direction: row-reverse;
  }

  &_box {
    width: 52.5rem;
    max-width: 52.5rem;
    height: 35.5rem;
    max-height: 35.5rem;
    background: $success;
    border-radius: 0.73rem;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      border: 2px solid #f9f9f9;
      top: -5rem;
      right: -5rem;
    }

    &::after {
      content: attr(data-income);
      position: absolute;
      display: block;

      @include font("Source Sans Pro", 600);

      @include font-size($big, $medium);

      color: $light;
      right: 2rem;
      bottom: 2.4rem;
    }
  }

  &_box--reverse::before {
    left: -5rem;

    .scenario-card_content {
      margin-right: 20px;
    }
  }

  &_image {
    position: absolute;
    top: 2rem;
    left: 3.1rem;
  }

  &_text {
    position: absolute;
    display: inline-block;

    @include font("Source Sans Pro", 600);

    @include font-size($medium);

    color: $light;
    bottom: 6.7rem;
    right: 4.46rem;
  }

  .subtitle {
    margin-left: 1.3rem;

    &_main {

      @include font("Source Sans Pro", 600);

      @include font-size($medium-bg, $medium);
    }

    &_text {

      @include font-size($medium-sm, $medium);

      letter-spacing: 0;
    }
  }

  &_button {
    margin-left: 0.8rem;
    width: 27.5rem;
    height: 6.3rem;
    font-weight: 600;

    @include font-size($medium-sm, 6.3rem);

    color: $primary;
    background: $success;
    display: block;
    text-align: center;
    border-radius: 0.7rem;
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 53.5rem;
  }
}
