@import "../utils/variables";

.scenario {
  height: 128.8rem;
  max-height: 128.8rem;
  padding-top: 4.8rem;
  padding-bottom: 7.7rem;
  position: relative;

  &_title {
    font-weight: bold;
    font-size: $big;
    line-height: $big;
    margin-top: -0.7rem;
  }

  &_text {
    font-weight: 600;
    font-size: $medium;
    line-height: $medium;
    margin: 0 auto;
    margin-top: 5.4rem;
    margin-bottom: 14rem;
    max-width: 89.3rem;
    text-align: center;
  }

  &_section-menu {
    margin-top: 2.6rem;
  }
}
