@import "../utils/variables";

.section-menu {
  display: flex;
  justify-content: center;

  &_item {
    & + & {
      margin-left: 6rem;
    }
  }

  &_button {
    font-weight: 600;
    font-size: $medium-bg;
    line-height: 5.3rem;
    color: $primary;
    border-radius: $small-bg;
    padding: 0 2.3rem;
    cursor: pointer;
    height: 5.3rem;

    &--active {
      background: $success;
    }
  }
}
