.simple {
  padding-top: 2.6rem;
  padding-bottom: 7rem;
  &_title {
    margin-top: -1.1rem;
  }

  .section_content {
    margin-top: 8.1rem;
  }

  .subtitle_simple {
    margin-left: 0.8rem;
  }

  .subtitle_text {
    font-size: 2.5rem;
    letter-spacing: 0;
    width: 45.5rem;
    line-height: 3.1rem;
  }

  .subtitle_main {
    line-height: 5rem;
  }

  .image img {
    margin-top: 1.6rem;
    margin-right: -0.4rem;
  }

  &-cards {
    margin-top: 9.8rem;
    .list {
      display: flex;
      justify-content: space-between;
    }

    .image img {
      margin-top: 0;
      margin-right: 0;
    }
  }
}
