@import "../mixins/mixins";

@import "../utils/utils";

.sphere {
  padding-top: 4.1rem;
  padding-bottom: 4rem;

  @include media-mobile-horizontal {
    padding-top: 3.1rem;
    padding-bottom: 1rem;
  }

  &__title {
    color: #3f3d56;

    @include media-mobile-horizontal {

      @include font-size(3rem, 3rem);

      color: $primary;
      text-align: start;
      letter-spacing: -0.01rem;
      padding-top: 0;
    }
  }

  &__container-bg {
    margin: 10.8rem auto 0;
    max-width: 120.5rem;
    position: relative;

    @include media-laptop {
      max-width: 100rem;
    }

    @include media-tablet-horizontal {
      max-width: 74.4rem;
    }

    @include media-tablet {
      margin-top: 5rem;
    }

    @include media-mobile-horizontal {
      margin-top: 1.9rem;
    }
  }
}

