.sphere {
  position: relative;
  height: 90rem;
  max-height: 90rem;
  padding-top: 4.3rem;
  padding-bottom: 6.6rem;

  &_title {
    font-weight: bold;
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 10.8rem;
    margin-top: -0.7rem;
    text-align: center;
  }
}
