link(rel="stylesheet" href="css/style.min.css")
//- link(rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css")



