mixin cross(className)
  .cross(class=className + "__cross")
    .cross__inner(class=className + "__cross-inner")
      span.cross__line.line-h(class=className + "__line-h")
      span.cross__line.line-v(class=className + "__line-v")
