include ../mixin/content-caption

mixin scenario-card(src, srcset, caption, subcaption, className)
  .scenario-card
    picture.scenario-card__img
      source(media="(max-width: 480px)", srcset=srcset)
      img(src=src, alt="")
    .scenario-card__content
      +content-caption(caption, subcaption, className)
      .scenario-card__btn Заказать

