include ../mixin/title
include ../mixin/section-menu
include ../mixin/subtitle
include ../mixin/button
include ../mixin/arroy
include ../mixin/link

- let cashBoxLinks = [{name: "О кассе", className: "section-menu_button section-menu_button--active"}, {name: "Видео", className: "section-menu_button"}, {name: "Характеристики", className: "section-menu_button"}]

.cashbox
  .container
    +title("Наши касса", "cashbox_title")
    +section-menu(cashBoxLinks, "cashbox_section-menu")
    .cashbox_inner
      .cashbox_col.cashbox_col--first
        h4.cashbox_title-sm НЕВА — 01 — Ф
        +subtitle("Идеальное решение для малого бизнеса", ["Устройство работает на базе Android, оснащена семидюймовым сенсорным экраном, портами USB, Ethernet и сетевыми проотколами GPRS, Wi-Fi, Bluetooth", "Кассовое ядро позволяет интегрировать с ККТ Нева — 01 — Ф любые сторонние приложения"])
        +button("" ,"Заказать", "scenario-card_button cashbox_button")
      .cashbox_col.cashbox_col--second
        .cashbox-slider
          .cashbox-slider_box
            .cashbox-slider_link
              +arroy("cashbox-slider_arroy sphere-slider_image sphere-slider_image--rotate180")
            .cashbox-slider_content
              img(src="../../img/cashbox.png", alt="").cashbox-slider_image
            .cashbox-slider_link
              +arroy("cashbox-slider_arroy sphere-slider_image")
          .cashbox-slider_nav
            .cashbox-slider_circle.cashbox-slider_circle--active
            .cashbox-slider_circle
            .cashbox-slider_circle
            .cashbox-slider_circle




        p.cashbox_price от 3 650 ₽


