- let dreamContent = {title: "Мечта предпринимателя", subtitle: "Твой рост, наша цель!", text: "То, что раньше было у крупного бизнеса, теперь доступно тебе", src: "../img/dream.png"}

section.dream
	.container
		.dream_wrapper
			h1 Main title
			include ../mixin/title
			+title(dreamContent.title, "dream_title")
			include ../mixin/section-content
			+section-content(dreamContent)
