.footer-tail
  .footer-tail_inner
    .footer-tail_order
      p.footer-tail_title Заказать
      a(href="mailto:iris-retail@iris.ru").footer-tail_link.link iris-retail@iris.ru
    .footer-tail_contact
      p.footer-tail_title Заказать
      a(href="tel:+88005500479").footer-tail_link.link 8 (800) 550-04-79
  p.footer-tail_text Лигал, который занимает два или три предложения. Будет находиться здесь, в конце футера. Тут будет прописана юридическая информация, чтобы с точки зрени закона все было ок %
