.main-application
        .main-application_inner
          .main-application_header
            p.main-application_header-title Прогнозируемый рост выручки
            p.main-application_header-price 25 000 руб/мес
          .main-application_footer
            p.main-application_footer-total Итого
            .main-application_footer-box
              p.main-application_footer-title Расходы на СРБ
              p.main-application_footer-price 650 руб/мес
            .main-application_footer-box
              p.main-application_footer-title ККТ
              p.main-application_footer-price 3650 руб
        input(type="submit", value="Оставить заявку" form="main-form").main-application_button
