include ../mixin/cross

.pop-up-wrap
  .pop-up
    .pop-up__container
      .pop-up__title Заявка
      +cross("pop-up")
      form#pop-up(action="" method="method").pop-up__form
        label.label.pop-up__label Город
          input.input#city.pop-up__input(type="text" placeholder="Москва" name="city" required title="qwerty" data-validate-field="city")
        label.label.pop-up__label Имя
          input.input#name.pop-up__input(type="text" placeholder="Иванов Иван Иванович" name="fio" required data-validate-field="fio")
        label.label.pop-up__label Телефон
          input.input#phone.pop-up__input(type="tel" placeholder="+7" name="phone" required data-validate-field="tel")
        label.pop-up__agree-label
          input#pop-up-agree(type="checkbox" name="agree" checked data-validate-field="agree").pop-up__agree-input
          span.pop-up__agree-fake
          span.pop-up__agree-text Я согласен с условиями сбора и обработки персональных данных
        input#pop-up-btn(type="submit", value="Оставить заявку").pop-up__btn




