include ../mixin/scenario-card

- let scenarioCards = [[{income: "+ 15%", src: "../../img/income15.png", title: "Интерактивное обучение", subtitle: ["Создаём диалоговые симуляции без навыков программирования. Организуем обучения в виртуальной и дополненой реальности. Обучение можно проходить на смартфоне, компьютере или VR-очках"], reverse: true}, {income: "+ 25%", src: "../../img/income25.png", title: "Автоматические предзаказы", subtitle: ["Анализируем наполненость полки, распознаем товары и проверяем выкладку и ассортимент. Контролируем работу кассира, фиксируем ошибки и нарушения в процессе его работы"], reverse: false}], [{income: "+ 13%", src: "../../img/income13.png", title: "Видео аналитика", subtitle: ["Создаём автозаказы, предоставляем аналитику в виде отчётов и дашбордов"], reverse: true}, {income: "+ 35%", src: "../../img/income35.png", title: "Оценка эффективности рекламы", subtitle: ["Анализируем полки, распознаем товары и проверяем выкладку и ассортимент. Контролируем работу кассира, фиксируем ошибки и нарушения в процессе его работы"], reverse: false}]]

.scenario-cards
  each row in scenarioCards
    .scenario-cards_row
      each col in row
        +scenario-card(col)
