include ../mixin/title
include ../mixin/section-menu


- let scenarioLinks = [{name: "Рост доходов", className: "section-menu_button--active"}, {name: "Снижение расходов", className: ""}]



.scenario
  .container
    +title("Сценарии роста бизнеса", "scenario_title")
    +section-menu(scenarioLinks, "scenario_section-menu")
    include ../includes/scenario-par
  include ./scenario-slider

