include ../mixin/arroy

.sphere-slider
  a(href="#").sphere-slider_link
    +arroy("sphere-slider_image sphere-slider_image--rotate180")
  include ./sphere-cards
  a(href="#").sphere-slider_link
    +arroy("sphere-slider_image")
