- let sphereCards = [{src: "../../img/1.png", title: "Торговля продуктами", href: "#", altImage: "alt", altArroy: "alt"}, {src: "../../img/2.png", title: "Другая торговля", href: "#", altImage: "alt", altArroy: "alt"}, {src: "../../img/3.png", title: "Общепит", href: "#", altImage: "alt", altArroy: "alt"}, {src: "../../img/4.png", title: "Услуги", href: "#", altImage: "alt", altArroy: "alt"}]

.sphere-cards
	each card in sphereCards
		include ../mixin/sphere-card
		+sphere-card(card.src, card.title, card.href, card.altImage, card.altArroy)