@import "../utils/utils";

@import "../mixins/mixins";

.header {
  &--shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  @include font("Source Sans Pro", 600);

  @include font-size($small-bg, $small-bg);

  padding: 0.8rem 0;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: $light;
  z-index: 100;

  @include media-mobile-horizontal {
    display: none;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media-tablet {
      flex-direction: column;
    }
  }

  &__logo {
    margin-top: -1.2rem;
  }

  &__menu {
    margin: 0 3.6rem 0 auto;

    @include media-tablet-horizontal {
      order: 3;
      margin: 0.5rem auto;
    }
  }

  &__phone {
    display: flex;
    align-items: center;

    @include media-tablet {
      display: none;
    }
  }

  &_phone-number {
    margin-right: 1.7rem;

    @include font("Open sans", bold);

    color: $primary-light;
  }

  &__phone-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 17.4rem;
    height: 4rem;
    background: $success;
    border-radius: 2rem;
    color: $light;
    cursor: pointer;

    &:hover {
      background-color:
        linear-gradient(
          70.6deg,
          #35cc79 5.03%,
          rgba(52, 125, 85, 0.65) 80.7%
        );
      color: darken($light, 5%);
    }
  }

  // @include media-laptop {
  // }

  // @include media-tablet-horizontal {
  // }

  // @include media-tablet {
  // }

  // @include media-mobile-horizontal {
  // }

  // @include media-mobile {
  // }
}
