/* open-sans-regular - latin_cyrillic */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/open-sans-v23-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("../../fonts/open-sans-v23-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/open-sans-v23-latin_cyrillic-regular.woff2") format("woff2"),
    url("../../fonts/open-sans-v23-latin_cyrillic-regular.woff") format("woff"),
    url("../../fonts/open-sans-v23-latin_cyrillic-regular.ttf") format("truetype"),
    url("../../fonts/open-sans-v23-latin_cyrillic-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* open-sans-600 - latin_cyrillic */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/open-sans-v23-latin_cyrillic-600.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("../../fonts/open-sans-v23-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/open-sans-v23-latin_cyrillic-600.woff2") format("woff2"),
    url("../../fonts/open-sans-v23-latin_cyrillic-600.woff") format("woff"),
    url("../../fonts/open-sans-v23-latin_cyrillic-600.ttf") format("truetype"),
    url("../../fonts/open-sans-v23-latin_cyrillic-600.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* open-sans-700 - latin_cyrillic */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/open-sans-v23-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("../../fonts/open-sans-v23-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/open-sans-v23-latin_cyrillic-700.woff2") format("woff2"),
    url("../../fonts/open-sans-v23-latin_cyrillic-700.woff") format("woff"),
    url("../../fonts/open-sans-v23-latin_cyrillic-700.ttf") format("truetype"),
    url("../../fonts/open-sans-v23-latin_cyrillic-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* source-sans-pro-regular - latin_cyrillic */

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/source-sans-pro-v14-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("../fonts/source-sans-pro-v14-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/source-sans-pro-v14-latin_cyrillic-regular.woff2") format("woff2"),
    url("../../fonts/source-sans-pro-v14-latin_cyrillic-regular.woff") format("woff"),
    url("../../fonts/source-sans-pro-v14-latin_cyrillic-regular.ttf") format("truetype"),
    url("../../fonts/source-sans-pro-v14-latin_cyrillic-regular.svg#SourceSansPro") format("svg"); /* Legacy iOS */
}

/* source-sans-pro-600 - latin_cyrillic */

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/source-sans-pro-v14-latin_cyrillic-600.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("../../fonts/source-sans-pro-v14-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/source-sans-pro-v14-latin_cyrillic-600.woff2") format("woff2"),
    url("../../fonts/source-sans-pro-v14-latin_cyrillic-600.woff") format("woff"),
    url("../../fonts/source-sans-pro-v14-latin_cyrillic-600.ttf") format("truetype"),
    url("../../fonts/source-sans-pro-v14-latin_cyrillic-600.svg#SourceSansPro") format("svg"); /* Legacy iOS */
}
